body{
    margin: 0px;
    padding: 0px;
    background: #FFFFFF;
}

ul,a,p,h1,h2,h3,h4,h5,h6,button{
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.section_header{
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    justify-content: center;
    padding-top: 41px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 73.5px;
}

.logo{
    margin-right: 224px;
}

.container_nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container_nav>.el{
    margin-right: 56px;
}

.container_nav>.el:nth-child(5){
    margin: 0px;
}

.nav_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #232E35;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.container_button_header{
    margin-left: 274px;
}

.button_Resume{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    border: 1px solid #F1F1F1;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: none;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232E35;
}

.Wonder_text_header{
    position: absolute;
    width: 260px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    font-size: 0px;
}

.hero_section{
    display: flex;
    justify-content: center;
}

.hero_container{
    padding-top: 73.5px;
    display: flex;
    padding-bottom: 78px;
}

.container_main_text_header{
    margin-right: 283px;
    margin-left: 175px;
}

.line{
    margin-bottom: 4px;
    margin-right: 16px;
}

.name_text_header{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 7.5px;
    color: #656D72;
    margin-bottom: 16px;
}

.name_Alex{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 55px;
    color: #232E35;
}

.name_Smith{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 55px;
    color: #7E74F1;
}

.text_header{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #232E35;
    margin-top: 32px;
}

.ul_site{
    display: flex;
    margin-top: 40px;
}

.ul_site>.el{
    margin-right: 32px;
}

.ul_site>.el:nth-child(4){
    margin: 0px;
}

.section_Specialized{
    display: flex;
    justify-content: center;
}

.container_Specialized{
    padding-top: 78px;
}

.container_main_text{
    margin-top: 114px;
    text-align: center;
    margin-bottom: 104px;
}

.main_text_Specialized2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 7.5px;
    color: #656D72;
    margin-bottom: 8px;
}

.main_text_Specialized{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #232E35; 
}

.ul_Specialized{
    display: flex;
    padding: 0px 120px 0px 125px;
    padding-bottom: 184px;
}

.ul_Specialized>.el{
    margin-right: 56px;
    padding: 53px 57px 53px 57px;
    text-align: center;
}

.ul_Specialized>.el:nth-child(3){
    margin: 0px;
}

.ul_Specialized>.el>img{
    padding: 16px;
    background: #F5F3FE;
    border-radius: 16px;
}

.main_text_Specialized_li{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #232E35;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text_Specialized_li{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #232E35;
}

.section_Work{
    display: flex;
    justify-content: center;
}

.container_Work{
   display: flex;
   flex-wrap: wrap;
   padding-top: 104px;
   padding-bottom: 111px;
}

.container_main_text_Work{
    margin-bottom: 80px;
    margin-right: 137px;
}

.main_text_Work2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 7.5px;
    text-transform: uppercase;
    color: #656D72;
    margin-bottom: 8px;
}

.main_text_Work{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #232E35;  
}

.ul_Work>.el{
    margin-bottom: 24px;
}

.ul_Work>.el:nth-child(4){
    margin-bottom: 0px;
}

.ul_Work>.el>p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 00;
    font-size: 16px;
    line-height: 19px;
    color: #232E35;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
    padding: 16.5px 0px 16.5px 32px;
}

.ul_Work>.el>.active{
    font-weight: 500;
    color: #7E74F1;
}

.right{
    margin-left: 157px;
}

.container_right_text_work{
    margin-top: 16px;
}

.main_text_work_right{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #232E35;
    margin-bottom: 8px;
}

.adress_work{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #656D72;
    margin-bottom: 16px;
}

.time_work{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #656D72;
    margin-bottom: 16px;
}

.ul_Work2{
    display: flex;
    margin-bottom: 65px;
}

.ul_Work2>.el{
    margin-right: 16px;
}

.ul_Work2>.el:nth-child(2){
    margin-right: 0px;
}

.ul_Work2>.el>a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #656D72;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 4px 8px;
    border: 1px solid #F1F1F1;
    border-radius: 4px;
    display: inline-block;
}

.ul_Work3>.el>p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #656D72;
    margin-bottom: 16px;
}

.ul_Work3>.el>p:nth-child(4){
    margin: 0px;
}

.section_Personal{
    display: flex;
    justify-content: center;
}

.container_Personal{
    padding-top: 144px;
    padding-bottom: 176px;
}

.container_main_text_Personal{
    text-align: center;
    margin-bottom: 144px;
}

.main_text_Personal2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 7.5px;
    color: #656D72;
    margin-bottom: 8px;
}

.main_text_Personal{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #232E35;
}

.ul_Personal{
    display: flex;
    justify-content: center;
}

.ul_Personal>.el{
    margin-right: 100px;
    order: 0;
    flex-grow: 0;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #F1F1F1;
    border-radius: 0px 0px 8px 8px;
}

.ul_Personal>.el:nth-child(1){
    margin-left: 100px;
}

.main_text_personal_li{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #232E35;
    margin-top: 16px;
    margin-left: 16px;
}

.data_personal{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #656D72;
    order: 0;
    flex-grow: 0;
    margin-top: 16px;
    margin-left: 16px;
}

.text_personal_li{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #656D72;
    margin-top: 16px;
    margin-bottom: 42px;
    margin-left: 16px;
}

.site_personal{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #656D72;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.section_Testimonials{
    display: flex;
    justify-content: center;
}

.container_Testimonials{
    padding-top: 104px;
    padding-bottom: 153px;
}

.container_main_text_Testimonials{
    margin-bottom: 87px;
    margin-left: 80px;
}

.main_text_Testimonials2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 7.5px;
    color: #656D72;
    margin-bottom: 8px;
}

.main_text_Testimonials{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-size: 36px;
    line-height: 45px;
    color: #232E35;
}

.ul_Testimonials{
    display: flex;
    justify-content: center;
}

.ul_Testimonials>.el{
    margin-right: 90px;
    background: #FFFFFF;
    border-radius: 8px;
    order: 0;
    flex-grow: 0;
}

.ul_Testimonials>.el:nth-child(1){
    margin-left: 80px;
}

.ul_Testimonials>.el>img{
   margin-left: 132px;
}

.text_Testimonials_li1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #232E35;
    margin-left: 32px;
    margin-top: 32px;
}

.text_Testimonials_li2{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #232E35;
    margin-left: 32px;
    margin-top: 48px;
}

.text_Testimonials_li3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #656D72;
    order: 0;
    flex-grow: 0;
    margin-left: 32px;
    margin-top: 9px;
    margin-bottom: 24px;
}

.section_Skills{
    display: flex;
    justify-content: center;
}

.container_Skills{
    padding-top: 105px;
    padding-bottom: 176px;
    display: flex;
    flex-wrap: wrap;
}

.main_text_Skills2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 7.5px;
    color: #656D72;
}

.main_text_Skills{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #232E35;
    margin-top: 8px;
}

.ul_Skills{
    margin-top: 112px;
}

.ul_Skills>.el{
    margin-bottom: 64px;
}

.ul_Skills>.el:nth-child(3){
    margin-bottom: 0px;
}

.main_text_Skills_li{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #232E35;
    margin-bottom: 10px;
}

.text_Skills_li1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #656D72;
    margin-bottom: 24px;
}

.text_Skills_li2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232E35;
}

.container_right_text{
    margin-left: 148px;
    margin-top: 185px;
}

.text_Skills{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #656D72;
    width: 584px;
    margin-bottom: 64px;
}

.section_address{
    display: flex;
    justify-content: center;
}

.container_address{
    padding-top: 104px;
    padding-bottom: 134px;
}

.section_footer{
    display: flex;
    justify-content: center;
}

.container_footer{
    padding-top: 88px;
    padding-bottom: 88px;
}

.ul_footer{
    display: flex;
    margin-bottom: 24px;
}

.ul_footer>.el{
    margin-right: 32px;
}

.ul_footer>.el:nth-child(4){
    margin: 0px;
}

.footer_text{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #656D72;
}